<a [routerLink]="['/dashboard']">Go To Polls</a> <br>

<h1>{{poll.question}}</h1>
<table>
  <thead>
    <tr>
      <th>Option</th>
      <th>Current Count of Votes</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{poll.option[0]}}</td>
      <td>{{poll.votes[0]}}</td>
      <td><button (click)=vote(0)>Vote</button></td>
    </tr>
    <tr>
      <td>{{poll.option[1]}}</td>
      <td>{{poll.votes[1]}}</td>
      <td><button (click)=vote(1)>Vote</button></td>
    </tr>
    <tr>
      <td>{{poll.option[2]}}</td>
      <td>{{poll.votes[2]}}</td>
      <td><button (click)=vote(2)>Vote</button></td>
    </tr>
    <tr>
      <td>{{poll.option[3]}}</td>
      <td>{{poll.votes[3]}}</td>
      <td><button (click)=vote(3)>Vote</button></td>
    </tr>
  </tbody>
</table>
